{#
/**
 * @file
 * Theme to display cypher link.
 *
 * Available variables:
 * - data: Cypher Link theme data values.
 *   - url: Encrypted link URL.
 *   - label: Link label.
 *
 * @see template_preprocess_cypher_link()
 */
#}
<div>
  <a class="cypher-link" href="javascript:cypherLink.decrypt('{{ data.url }}');">
    {{ data.label }}
  </a>
</div>